/* Global */

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 100px;
    height: 80px;
    flex: 1;
}

.header h1 {
    display: inline;
    margin-left: 10px;
}

.left {
    margin-left: 100px;
    align-self: center;
    display: flex;
    align-items: center;
}

.right {
    margin-right: 100px;
    align-self: center;
}

.right a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border: groove;
    border-radius: 15px;
    padding: 10px;
}

.right a:visited {
    color: #000;
    text-decoration: none;
}

/* Login */

.login-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 600px;
    align-self: center;
    height: 200px;
    border-radius: 40px;
    margin-bottom: 150px;
    flex: 3;
}

.log-in-section p {
    margin: 0;
}

.log-in-section input {
    border-radius: 5px;
}

.log-in-section button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    padding: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.log-in-section .asterisk {
    color: red;
}

.log-in-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}
.sign-up-container {
    text-align: center;
    flex: 1;
    margin-top: -100px;
}

.sign-up-container .sign-up-button {
    background-color: deepskyblue;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}

.sign-up-container a {
    color: #ffffff;
    text-decoration: none;
}

.sign-up-container a:visited {
    color: #ffffff;
    text-decoration: none;
}
