/* Global */

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 70px;
}

.sign-in {
    border: groove;
}

.header h1 {
    display: inline;
    margin-left: 10px;
}

.sign-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    padding: 3px;
    border: groove;
}

.sign-in p {
    font-weight: 600;
}

.right a {
    color: #000;
    text-decoration: none;
}

.right a:visited {
    color: #000;
    text-decoration: none;
}

.left {
    margin-left: 100px;
    align-self: center;
    display: flex;
    align-items: center;
}

.right {
    margin-right: 100px;
    border-radius: 15px;
}

.list {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
}

.list .home {
    margin-left: -30px;
}

.list a {
    text-decoration: none;
    color: #000;
}

.list li {
    font-size: 17px;
}

.middle {
    margin-left: -150px;
    align-self: center;
}

/* Search-bar */

.search-bar {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top:30px;
    border-radius: 50px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-right:auto;
    margin-left:auto;
    border: unset;
}

.search-form {
    display: flex;
    padding: 1rem;
    max-width: 800px;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
}

.search-form input,
.search-form button {
    padding: 1rem;
    border-radius: 1rem;
    border: groove;
    font-size: 1rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.search-form input:focus {
    outline: none;
    border-color: salmon;
}

.search-form button {
    background-color: salmon;
    color: #fff;
    cursor: pointer;
    border: groove salmon;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: red;
}

.categories-select {
    border-radius: 25px;
    border: groove;
    padding: 1rem;
    font-size: 1rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 50px;
}

.categories-select:hover {
    background-color: salmon;
    color: #fff;
}

.search-form input,
.search-form button,
.categories-select {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search-form input:hover,
.search-form button:hover,
.search-form select:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.search-form input[type="number"] {
    width: 70px !important;
    min-width: 70px !important;
}



/* Main */

.main {
    background-color: #fff;
    padding: 40px;
    width: 1500px;
    margin-left: 130px;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.rent-homes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main img {
    border-radius: 20px;
}

.main .money {
    font-weight: bold;
}

.main p {
    margin-bottom: -10px;
}

.zatonCroatia,
.pestenitaRomania,
.gordesFrance,
.siófokHungary,
.koviljSerbia,
.zakopanePoland{
    text-decoration: none;
    color: #000;
}

.zatonCroatia:active
.pestenitaRomania:active,
.gordesFrance:active,
.siófokHungary:active,
.koviljSerbia:active,
.zakopanePoland:active{
    text-decoration: none;
    color: #000;
}

.siófokHungary,
.koviljSerbia,
.zakopanePoland{
    margin-top: 45px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.footer .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer .right span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer .icons {
    margin-top: 3px;
    border: none;
}
