/* Global */
body {
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    background-color: antiquewhite;
    margin: 0;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
}

.header h1 {
    display: inline;
    margin-left: 10px;
}

.sign-in p {
    display: inline;
}

.right button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
}

.right button p {
    font-weight: bold;
}

.left {
    margin-left: 100px;
}

.right {
    margin-right: 100px;
    border-radius: 15px;
}

.list {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
}

.list .home {
    margin-left: -30px;
}

.list a {
    text-decoration: none;
    color: #000;
}

.list li {
    font-size: 17px;
}

.middle {
    margin-left: -150px;
    align-self: flex-end;
}